.planet {
    width: 350px;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #f1f2f398;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

.planet .planetName {
    color:#d23939;
    text-align: center;
    font-weight: 500;
  }

.planet .planetName span {
    color: #3990d2;
    margin-left: 5px;
  }

.planet .listOfPlanets {
    list-style: none;
    text-transform: uppercase;
    display: block;
  }
.planet .listOfPlanets li {
    display: block;
    text-align: center;
  }
.planet .listOfPlanets li span {
    color: #3990d2;
  }